#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* Mobile-Spezifische Stile */
.mobile-transform {
  transform: translateX(-450%);
}

/* Stile für den Desktop */
/* Hier können Sie Stile für den Desktop definieren, wenn nötig */
